body{ 
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(175, 181, 231, 1) ;
    margin: 0;
}
.xoana{ 
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(236, 168, 168, 1);
    margin: 0;
}
.fritz{
      font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(75, 91, 224, 0.58);
    margin: 0;
}
.freier{  font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(146, 202, 146, 1);
    margin: 0;}
.camillo{
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(246, 187, 85, 0.67);
    margin: 0; 
}
.laboca{  font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(118, 186, 149, 1);
    margin: 0;}

.lahan{
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(177, 118, 175, 0.76);
    margin: 0;
}
.chisiamo{
    font-family: 'Italiana', serif;
    font-family: 'Lobster', cursive; 
    background-color: rgba(175, 231, 231, 1);
    margin: 0;
}
header { 
    margin: auto;
    
}
.navbar{
    display: flex;
    flex-wrap: nowrap;
    
    justify-content:flex-end;
    border-style: solid;
  border-color: white;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border-bottom-width: 1px;
  margin: 20px ; 
  font-family: 'Italiana', serif; 
  font-size: 10px;
  border-width: 2px ;
  padding-right: 30px;
}
a{

    text-decoration: none;    
    font-family: 'Italiana', serif; 

    font-size: 10px;
  
}

.navbar > div { 

    text-align: center;
    line-height: 20px;
    padding: 5px;
  }

.titolo {
    font-family: 'Italiana', serif;
    font-size: 30px;
   margin: 20px;

   display: flex;
   border-style: solid;
 border-color: white;
 background-color: white;
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 
 font-family: 'Italiana', serif; 
 font-size: 30px;
 border-width: 2px ;
 padding-left: 30px;
 max-width: 100% ;
}
.titoloxoana {
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(160, 73, 73, 0.76);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titoloxoana h2{
color: white;
  }

  
.titolofritz{
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(68, 106, 202, 1);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titolofritz h2{
color: white;
  }

  
.titolofreier{
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(242, 136, 37, 0.77);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titolofreier h2{
color: white;
  }
  
.titolocamillo{
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(244, 128, 71, 1);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titolocamillo h2{
color: white;
  }

  
.titololaboca{
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(10, 119, 80, 1);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titololaboca h2{
color: white;
  }
  
.titololahan{
    font-family: 'Italiana', serif;
    font-size: 30px;
   
   display: flex;
   flex-wrap: nowrap;
   border-style: solid;
 border-color: transparent;
 background-color: rgba(134, 84, 132, 1);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 margin: 20px; 

 border-width: 2px ;
 padding-left: 40px;
 max-width: 100% ;
  }

  .titololahan h2{
color: white;
  }
  .princ img{
    display: block;
    text-align: center;
    max-width: 80%;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
    padding: auto;
   }
 
   .paragrafo {
     font-family: 'EB Garamond', serif;
     font-size: 20px;
    
    display: block;
  
    border-style: solid;
  border-color: transparent;
  background-color: rgba(217, 217, 217, 0.21);
  border-radius: 10px 10px 10px 10px;
  border-bottom-width: 1px;
  
  border-width: 2px ;
  
  max-width:max-content ;
  width: 40%;
  margin: auto;
 padding: 20px;
 margin-top: auto;
 margin-top: 60px;
   margin-bottom: 60px;
 }
 
   .paragrafo p{
     text-align: center;
     align-items: center;
   }
   .paragrafochisiamo {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
   
   display: block;
 
   border-style: solid;
 border-color: transparent;
 background-color: rgba(144, 198, 198, 0.57);
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
 
 border-width: 2px ;
 
 max-width:max-content ;
 width: 40%;
 margin: auto;
padding: 20px;
margin-top: auto;
margin-top: 60px;
  margin-bottom: 60px;
}

  .paragrafochisiamo p{
    text-align: center;
    align-items: center;
  }
   .immag{
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
   }
 
   .immag img{
     max-width: 30%;
    padding: 10px;
    margin: 10px;
   }
   

.home {  
    font-size: 30px;
    display: flex;

    align-items: center;   
}
.home img {
    max-width: 60%;
    margin: 20px;
    border-radius: 10px 10px 10px 10px ;
}

h3{

font-family: 'Italiana', serif;
    font-size: 30px;
   display: flex;
   border-style: solid;
 
 border-radius: 10px 10px 10px 10px;
 border-bottom-width: 1px;
margin: 30px; 
 font-family: 'Italiana', serif; 
 font-size: 30px;
padding: 10px;
 max-width: 70% ;
}

h3{
    color: white;
}

.xo {
    background-color: rgba(160, 73, 73, 0.9);
    border-color: transparent;
    
    margin: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.linn {
    background-color: rgba(68, 106, 202, 0.7); 
    border-color: transparent;
    margin: 200px;
    padding-left: 70px;
    padding-right: 70px;
}
.karlot {
    background-color: rgba(242, 136, 37, 0.7);
    border-color: transparent;
    margin: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.camilo {
    background-color: rgba(244, 128, 71, 0.7);
    border-color: transparent;
    margin: 200px;
    padding-left: 50px;
    padding-right: 50px;
}
.boca {
    background-color: rgba(244, 128, 71, 0.7);
    border-color:transparent ;
    margin: 200px;
    padding-left: 70px;
    padding-right: 70px;
}
.tim {
    background-color: rgba(134, 84, 132, 0.7);
    border-color: transparent;
    margin: 200px;
    padding-left: 50px;
    padding-right: 50px;
}

.foot {
    display: flex;
    flex-wrap: nowrap;
    
    border-style: solid;
  border-color: white;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border-bottom-width: 1px;
  margin: 20px ; 
  font-family: 'Italiana', serif; 
  font-size: 10px;
  border-width: 2px ;
  padding-right: 30px;
}
